{% load static cms_tags %}

<section class="aboutSec" id="aboutpage">
  <h2> About</h2>
 
    <section class="about-description">
      <h4>Description:</h4>
      <p class="description">
        I am a 24 year-old artist. My passion for arts and especially drawing, cinema and video games began early.
      
        After a bachelor in Design and applied arts, I started a formation in 3D creation.
        For 3 years, I learnt the production's pipe line for movie and I improve my knowledge of differents softwares like Maya, Nuke or Photoshop.

        I recently passed my degree of Lead 2D/3D infography whith a VFX composing option after 3 years in the on-line E-Tribart school.
    </p>
    <span class="bottom-line-description"></span>
    <span class="left-line-description"></span>

    </section>
    <section class="about-presentation">
      <img src="{% static 'img/profil01.jpg'%}">
      <div class="overlay-img">
        <ul class="list-contact">
          <li> Lacolley Thomas </li>
          <li>26 years old</li>
          <li>Junior VFX Compositor</li>
          <li>thomaslacolley@gmail.com</li>
        </ul>
      </div>
    </section>


  <section class="about-cv">
    <h4>Resume:</h4>
    <ul class="list-cv-vfx">
      <li><a href="">VFX CV English</a></li>
      <li><a href="">VFX CV Francais</a></li>
    </ul>
      <ul class="list-cv-web">
      <li><a href="">Web CV English</a></li>
      <li><a href="">Web CV Francais</a></li>
    </ul>
  </section>

<section class="about-vfx">
      <h4>VFX:</h4>

      <ul class="list-skills list-vfx-left">
        <li> <img src="{% static 'img/nuke2-logo.png'%}"> <p><strong>Nuke:</strong> Compositing 2D/3D, Matte painting, Roto/Paint, Tracking, Keying, Relight 2.5, particles, color corection, ...</p></li>
        <li> <img src="{% static 'img/maya-logo.png'%}"> <p><strong>Maya:</strong>  Modeling, UV, Shading/Texturing, Lighting, Rendering Mental Ray/ Vray, Animation,...</p></li>
        <li><img src="{% static 'img/v-ray-icon.png'%}"><p> <strong>V-ray:</strong>  Tracking, Camera solving, Object solving,.</p></li>
        <li><img src="{% static 'img/pfTrack-logo.png'%}"> <p><strong>PF Track:</strong>  Tracking, Camera solving, Object solving,...</p></li>
      </ul>
    <span class="separator-skills"></span>
      
      <ul class="list-skills list-vfx-right">
        <li><img src="{% static 'img/psd-logo.png'%}"> <p><strong>Photoshop:</strong> 2D compositing, Photo manipulation,Matte painting,...</p></li>
        <li><img src="{% static 'img/substance-logo.png'%}"> <p><strong>Substance Painter:</strong> 2D compositing, Photo manipulation,Matte painting,...</p></li>
        <li> <img src="{% static 'img/vue-logo.png'%}"> <p><strong>Vue:</strong> 2D compositing, Photo manipulation,Matte painting,...</p></li>
        <li><img src="{% static 'img/premier-logo.png'%}"> <p><strong>Premiere:</strong> 2D compositing, Photo manipulation,Matte painting,...</p></li>

      </ul>      
</section>


  <section class="about-skills">
      <h4>Skills:</h4>
      <ul class="list-skills list-web-left">
        <li> Html : somememememememememememewmwe</li>
        <li> Html : somememememememememememewmwe</li>
        <li> Html : somememememememememememewmwe</li>
      </ul>
      <ul class="list-skills list-web-right">
        <li> Html : somememememememememememewmwe</li>
        <li> Html : somememememememememememewmwe</li>
        <li> Html : somememememememememememewmwe</li>
      </ul>
  </section>


</section>