.contactSec{
  // border Blur container
  .cardInfo, .cardSocial, .contactForm{
    position:relative;
    border:5px solid #004bea;
    border-radius:10px;
    @include boxShadowGlow(20px,$primaryColor);
    padding: 5%;
    color: white;
  }

// Light shape effect-----
  .lightSpan,.lightSpan2{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box;
      &::before{
        content: '';
        position: absolute;
        width:0%;
        height: 2px;
        box-shadow:0px 0px 50px 20px $glowBtn;       
        border-radius:10px;
      }
  }
  .lightSpan::before{
        animation: lightShapeAnim 10s linear infinite;
      }
  .lightSpan2::before{
    animation: lightShapeAnimBis 10s linear infinite;
  }


// Container Contact Infos
  .contact-info{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    .cardInfo{
      grid-column:1/4;
      margin: auto;
      .adresseList{
        list-style:none;
        margin:0;
        .itemAdd{
          font-size:1.5rem;  
        }
      }
    }

// Container Social Media
    .cardSocial{
      grid-column:6/8;
      margin: auto;
      margin-bottom: 10%;
      margin-right: 15%;
      color:$primaryTextColor;
      text-shadow:  0px 0px 10px $glowBtn;
      animation:borderAnimBreath 4s infinite;
      .list-social{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        padding:0;
        text-align:center;
        li{
          margin: 5%;
        }
        li:nth-child(1){
          grid-column: 1/2;
        }
        li:nth-child(2){
          grid-column: 3/4;
        }
        li:nth-child(3){
          grid-column: 2/3;
          margin: 10%;
        }
        li:nth-child(4){
          grid-column: 1/2;
        }
        li:nth-child(5){
          grid-column: 3/4;
        }
        a{
          color:white;
          &:hover{
            color:$glowBtn;

              i:hover{
                 animation: text-shadow-pop-bottom 0.6s both;
              }
          }
 
          i{
            font-size:4rem;
          }
        }
      }
    }
// Container Contact Form
    .contactForm{
      grid-column:3/7;
      margin-top: 10%;
      h3{
        text-align:center;
        margin-bottom: 5%;
        }
        form{
          display: flex;
          flex-direction: column;
          align-items: center;
          input, textarea{
            width: 80%;
            margin:2%;
            border:solid 1px blue;
            background-color: white;
            color:black;
            text-align:center;
          }
          #btnSubmit{
            justify-items: stretch;
            align-self: end;
            width: 25%;
            margin-right: 10%;
            color:white;
            background: #030c2d;
            border: 2px solid $primaryColor;
            @include boxShadowGlow(10px,$primaryColor);
            &:hover{
                @include boxShadowGlow(20px,$glowBtn);
                border: 1px solid $primaryColor;
            }
          }
        }
    }
}
}


