{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}



{% block content %}

<section class="contactSec">
  <h2> Contact </h2>

  <section class="contact-info">
     
        <address class="cardInfo">
        <span class="lightSpan2"></span>
        <span class="lightSpan"></span>
          <ul class="adresseList">
            <li class="itemAdd">Lacolley Thomas</li>
            <li class="itemAdd"><a href="mailto:thomaslacolley@gmail.com">Contact Mail</a></li>
            <li class="itemAdd">Adresse: silicon valley bien sur !</li>
            <li class="itemAdd">Tel: +33 6 85 47 38 22</li>
          </ul> 
        </address>
    
      <div class="cardSocial">
<!--         <span class="lightSpan2"></span>
        <span class="lightSpan"></span> -->
        <ul class="list-social">
          <li><a href=""><i class="fab fa-youtube"></i></a></li>
          <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="contactForm">
<!--         <span class="lightSpan2"></span>
        <span class="lightSpan"></span> -->
        <h3>Keep in touch</h3>
        <form>
          <input type="text" name="inputName" placeholder="Your Name">
          <input type="mail" name="inputMail" placeholder="Your Mail">
          <input type="text" name="inputSubject" placeholder="Your Subject">
          <textarea name="inputMessage" placeholder="Your Message"></textarea>
          <input type="submit" name="btnSubmit" id="btnSubmit">

        </form>
      </div>
  </section>


  <form>
    
  </form>


</section>



{% endblock content %}