{% extends "base.html" %}
{% load static cms_tags sekizai_tags%}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}



{% block content %}


<section class="portfolioSec" id="portfoliopag">
    <h2> Portfolio </h2>

<div class="container-portfolio">
    <div class="panel-heading">
        <ul class="nav top-tabs">
            <li class="topTabs active"><a class="topTabsLink" href="#vfxTab" data-toggle="tab">VFX Works</a></li>
            <li class="topTabs"><a class="topTabsLink" href="#webTab" data-toggle="tab">Web Works</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <!-- Panel VFX ----------------------------------->
            <div class="tab-pane fade in active show" id="vfxTab">
                <div class="panelVfx-heading">
                    <ul class="nav">
                        <li class="active show"><a class="active show" href="#compTab" data-toggle="tab">Compositing</a></li>
                        <li><a href="#matteTab" data-toggle="tab">Matte Painting</a></li>
                        <li><a href="#greenScreenTab" data-toggle="tab">Green Screen</a></li>
                        <li><a href="#othersTab" data-toggle="tab">Others</a></li>
                    </ul>
                </div>
                 <div class="panelVfx-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active show" id="compTab">
                            <h3>Compositing</h3>
                        </div>
                        <div class="tab-pane fade in" id="matteTab">
                            <h3>Matte Painting</h3>
                        </div>
                        <div class="tab-pane fade in" id="greenScreenTab">
                            <h3>Green Screen</h3>
                        </div>
                        <div class="tab-pane fade in" id="othersTab">
                            <h3>Others</h3>
                        </div>
                    </div>
                 </div>

    </div>
    <!-- END  Panel VFX ----------------------------------->

    <div class="tab-pane fade" id="webTab">Web Works !!!!!</div>

  </div>
</div>
</div>


</section>


{% addtoblock "js" %}

<script src="{% static 'script/script_portfolio.js' %}"></script>


{% endaddtoblock %}

{% endblock content %}



